body{
    background-color: aqua;
}

#header{
    width: 100vw;
    height: 4rem;
    background-color: blue;
    padding: 1rem;
    text-align: center;
}

.contenido{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 67rem;
    height: 20rem;
    background-color: white;
    margin: 3rem auto ;
    border-radius: 20px 20px;
    text-align: center;

}